<div class="col-1 compIcons"><img src="./assets/img/Report_Crop.png"></div>
<div class="m-3 mx-auto table-xs col-lg-8 col-md-10 col-sm-12"
     style="display: flex; justify-content: center; flex-direction: column; font-family: FuturaND;">
  <div class="container m-4">
    <div class="card mx-auto" style="width: 50%;">
      <div class="card-body">
        <h5 class="card-title">Reports</h5>
        <div class="card-text">
          <form>
            <div class="form-group">
              <label for="date">Please select a month: </label>
              <select class="=custom-select m-2" id="date" name="date" required>
                <option> </option>
                <option *ngFor="let item of repDate" [value]="item" (click)="getReport(item)"> {{ item }} </option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
