<nav class="navbar navbar-expand-md bg-dark fixed-top" style="font-family: FuturaND;">
  <a class="navbar-brand js-scroll-trigger" routerLink="/"><img src="./assets/img/logo.png" alt=""></a>
  <button class="navbar-toggler navbar-toggler-right bg-white" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars navbar-toggler-icon"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <div class=" authusers ml-auto d-none">
        <ul class="navbar-nav">
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" href="#">Budget Entries</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="/entry">Create new entry</a>
              <a class="dropdown-item" routerLink="/entriesList">View entries</a>
            </div>
          </li>
          <li class="nav-item active ml-2">
            <a class="nav-link" routerLink="/category">Manage Categories</a>
          </li>
          <li class="nav-item active ml-2">
            <a class="nav-link" routerLink="/report">Reports</a>
          </li>
          <li class="nav-item active ml-2">
            <a class="nav-link" routerLink="/help">Help</a>
          </li>
          <li class="nav-item active ml-2">
            <a class="nav-link" href="javascript:void(0);" (click)="logout();">Logout</a>
          </li>
        </ul>
      </div>
      <div class="nonusers ml-auto">
        <ul class="navbar-nav">
          <li class="nav-item active ml-2">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item active ml-2">
            <a class="nav-link" routerLink="/registration">Sign Up</a>
          </li>
          <li class="nav-item active ml-2">
            <a class="nav-link" routerLink="/help">Help</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
