<div class="col-1 compIcons"><img src="./assets/img/Entry_Crop.png"></div>
<div class="m-3 mx-auto table-xs col-lg-8 col-md-10 col-sm-12"
     style="display: flex; justify-content: center; flex-direction: column; font-family: FuturaND;">
  <div class="container" class="m-4">
    <div class="card mx-auto" style="max-width: 80%;">
      <div class="card-body">
        <h5 class="card-title">Budget Entry Form</h5>
        <div class="card-text">
  <form #f="ngForm" name="entryForm" (submit)="addEntry(f)">
    <div class="control-group m-3 col-xs-6">
      <label for="name" class="control-label">Name: </label>
      <input type="text" class="form-control" id="name" name="name" placeholder="name for this entry"
             [(ngModel)]="entry.name" #entryName="ngModel" required pattern="^[a-zA-Z1-9\s]+$">
      <span class="help-block danger" *ngIf="entryName.errors?.required && entryName.touched">
          The entry name is required
      </span>
      <span class="help-block danger" *ngIf="entryName.errors?.pattern && entryName.touched">
          The entry name can only contain letters (a-z or A-Z) and numbers
      </span>
    </div>
    <div class="control-group m-3 col-xs-6">
      <label for="date" class="control-label">Date: </label>
      <input type="date" class="form-control" id="date" name="date" [(ngModel)]="entry.date" #entryDate="ngModel" required>
      <span class="help-block danger" *ngIf="entryDate.errors?.required && entryDate.touched">
        The date is required
      </span>
      <span class="help-block danger" *ngIf="entryDate.errors?.pattern && entryDate.touched">
        Please enter the date as 'YYYY-MM-DD' (e.g. 2020-01-01)
      </span>
    </div>
    <div class="control-group m-3 col-xs-6">
      <label for="amount" class="control-label">Amount: </label>
      <input type="number" class="form-control" id="amount" name="amount" min="0.01"
             [(ngModel)]="entry.amount" #entryAmount="ngModel" required>
      <span class="help-block danger" *ngIf="entryAmount.errors?.required && entryAmount.touched">
        The amount is required and can only contain numbers in the format 00.01 (decimal separated by a dot).
    </span><br>
      <span class="help-block danger" *ngIf="entryAmount.errors?.pattern && entryAmount.touched">
        The amount can only contain numbers (0.01)
    </span>
    </div>
    <div class="control-group m-2 col-xs-6">
      <label class="control-label">Categorization: </label>
      <div class="form-check">
        <label [(ngModel)]="entry.categories" *ngFor="let item of cats" for="{{item.id}}"
               class="form-control form-check-inline" aria-describedby="catHelp" name="category"
               (change)="onChange(item.id)" ngDefaultControl>
          <input type="checkbox" class="checkbox-inline m-2"
                 id="{{item.id}}" [value]="item.id"> {{ item.name }} <br>
        </label>
      </div>
      <small id="catHelp" class="form-text text-muted">Please select at least one category.</small>
    </div>
    <div class="control-group m-3 col-xs-6">
      <label for="notes" class="control-label">Notes: </label>
      <textarea class="form-control" id="notes" name="notes" rows="8" cols="15" [(ngModel)]="entry.notes" required=""></textarea>
    </div>
    <button class="btn btn-primary mx-auto" [disabled]="f.invalid"
            style="display: flex; justify-content: center; flex-direction: column">Add Entry</button>
  </form>
</div>
      </div>
    </div>
  </div>
</div>
