<div class="col-1 compIcons"><img src="./assets/img/Entry_Crop.png"></div>
<div class="row table mx-auto table-xs col-lg-6 col-md-8 col-sm-10" style="font-family: FuturaND;">
  <form class="form-inline col">
    <input name="searchInput" class="form-control" placeholder="Search by entry month, category, name or notes"
           #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
    <button class="button hoverable" (click)="onReset()"><span>&times;</span></button>
  </form>
</div>
<div class="table-responsive mx-auto table-xs col-lg-10 col-md-12 col-sm-12" style="font-family: FuturaND;">
  <table class="table table-striped" id="entryTable">
    <thead class="thead-light">
    <th>Entry</th>
    <th>Date</th>
    <th>Amount</th>
    <th>
      <select class="=custom-select" id="catFilter" name="catFilter">
        <option> </option>
        <option *ngFor="let cat of cats" [value]="cat.id" (click)="filterCat(cat.name)">{{cat.name}}</option>
      </select><button (click)="onReset()" class="button hoverable"><span>&times;</span></button><br>
      <label for="catFilter">Categories </label>
    </th>
    <th>Notes</th>
    <th></th>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of entries">
        <tr class="table-light" *ngIf="filterCondition()">
          <td>{{item.name}}</td>
          <td>{{item.date | date :  "dd.MM.yyyy"}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.categories}}</td>
          <td>{{item.notes}}</td>
          <td>
            <button class="btn btn-danger btn-sm" value="Delete" (click)='deleteEntry(item.id)'>Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div *ngIf="error">{{error}}</div>
</div>
