<div class="jumbotron" style="font-family: FuturaND;">
  <button type="button" class="btn btn-warning btn-lg homeBtns" routerLink="/login" role="button">Login</button>
  <button type="button" class="btn btn-warning btn-lg homeBtns" routerLink="/registration" role="button">Sign Up</button>
  <button type="button" class="btn btn-warning btn-lg homeBtns" routerLink="/help" role="button">Help</button>
</div>
