<div class="col-1 compIcons"><img src="./assets/img/Categories_Crop.png"></div>
<div class="m-3 mx-auto table-xs col-lg-8 col-md-10 col-sm-12"
     style="display: flex; justify-content: center; flex-direction: column; font-family: FuturaND;">
  <div class="container" class="m-4">
    <div class="card mx-auto" style="width: 50%;">
      <div class="card-body">
        <div class="card-text">
  <form #f="ngForm" name="catForm" (submit)="addCat(f)">
    <div class="form-group">
      <label for="name">Category: </label>
      <input type="text" class="form-control" id="name"
             name="name" aria-describedby="nameHelp"
             placeholder="name of the category"
             [(ngModel)]="cat.name" #catName="ngModel"
             required
             pattern="^[a-zA-Z1-9]+$">
      <small id="nameHelp" class="form-text text-muted">Please add a name for your new category.</small>
      <span class="help-block danger" *ngIf="catName.errors?.required && catName.touched">
        The category name is required
      </span>
      <span class="help-block danger" *ngIf="catName.errors?.pattern && catName.touched">
        The category name can only contain letters (a-z or A-Z) and numbers
      </span>
    </div>
      <button class="btn btn-primary mx-auto"  [disabled]="f.invalid"
              style="display: flex; justify-content: center; flex-direction: column">Add Category</button>
  </form>
        </div>
        <div class="alert alert-info" *ngIf="showSuccessMessage">Category added successfully!</div>
        <div *ngIf="error">{{error}}</div>
      </div>
    </div>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-light">
      <th>Categories</th>
      <th></th>
      </thead>
      <tbody>
      <tr>
        <td>income</td>
        <td><button class="btn btn-danger btn-sm" value="Delete" disabled>Delete</button></td>
      </tr>
      <tr>
        <td>expense</td>
        <td><button class="btn btn-danger btn-sm" value="Delete" disabled>Delete</button></td>
      </tr>
      <tr>
        <td>fix</td>
        <td><button class="btn btn-danger btn-sm" value="Delete" disabled>Delete</button></td>
      </tr>
      <tr>
        <td>variable</td>
        <td><button class="btn btn-danger btn-sm" value="Delete" disabled>Delete</button></td>
      </tr>
      <tr>
        <td>others</td>
        <td><button class="btn btn-danger btn-sm" value="Delete" disabled>Delete</button></td>
      </tr>
        <ng-container *ngFor="let item of cats">
          <tr *ngIf="item.id > 5">
            <td>{{item.name}}</td>
            <td>
              <button class="btn btn-danger btn-sm" value="Delete" (click)='deleteCat(item.id)'>Delete</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
</div>
