<div class="container" class="m-4" style="display: flex;justify-content: center; font-family: FuturaND;">
  <div class="card" style="width: 50%;">
    <div class="card-body">
      <h5 class="card-title">Sign Up Form</h5>
      <div class="card-text">
        <form #f="ngForm" name="registrationForm" id="userMail" (submit)="checkMail()">
          <div class="form-group">
            <div class="userMail">
              <div class="m-2">
                <label for="mail">Email: </label>
                <input type="email" class="form-control" name="email" id="mail" placeholder="joe.doe@domain.com"
                       [(ngModel)]="user.email" #userMail="ngModel" required>
                <div class="help-block danger" *ngIf="userMail.errors?.required && userMail.touched">
                  A valid email address is required!
                </div>
              </div>
              <div class="m-2">
                <label for="pass">Password: </label>
                <input type="password" class="form-control" name="pass" id="pass" placeholder="*****************"
                       [(ngModel)]="user.password" #userPass="ngModel" required>
                <div class="help-block danger" *ngIf="userPass.errors?.required && userPass.touched">
                  Password is required!
                </div>
              </div>
              <button id="regBtn" class="btn btn-primary" [disabled]="f.invalid">Verify</button>
              <div class="alert alert-danger" *ngIf="showErrorMessage">
                Account already exists! Please <a routerLink="/login">login</a>.
              </div>
            </div>
          </div>
        </form>
        <form #g="ngForm" name="registrationForm2" id="userData" class="d-none" (submit)="registerUser(g)">
          <div class="form-group">
            <div class="m-2">
                <label for="firstname">First name: </label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Joe"
                       [(ngModel)]="user.firstname" #userFirst="ngModel" required pattern="^[a-zA-Z]+$">
                <div class="help-block danger" *ngIf="userFirst.errors?.required && userFirst.touched">
                  The first name is required!
                </div>
                <div class="help-block danger" *ngIf="userFirst.errors?.pattern && userFirst.touched">
                  A name can only contain letters (a-z or A-Z)
                </div>
            </div>
                <div class="m-2">
                  <label for="lastname">Last name: </label>
                  <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Doe"
                         [(ngModel)]="user.lastname" #userLast="ngModel" required pattern="^[a-zA-Z]+$">
                  <div class="help-block danger" *ngIf="userLast.errors?.required && userLast.touched">
                    The last name is required!
                  </div>
                  <div class="help-block danger" *ngIf="userLast.errors?.pattern && userLast.touched">
                    A name can only contain letters (a-z or A-Z)
                  </div>
                </div>
              <div>
                <label for="currency" class="m-2">Currency: </label>
                <select class="=custom-select" id="currency" name="currency" [(ngModel)]="user.currency">
                  <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</option>
                </select>
              </div>
                <button class="btn btn-primary" [disabled]="f.invalid">Submit</button>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
