<div class="col-1 compIcons"><img src="./assets/img/Report_Crop.png"></div>
<div class="container-fluid mx-auto col-lg-6 col-md-8 col-sm-10" style="font-family: FuturaND;">
  <div>
    <ng-container *ngFor="let rep of repData">
      <div>
        <h2>{{rep.monthYear}}</h2>
      </div>
      <table class="table">
        <div>
          <h3>Overview</h3>
          <p>Total income: {{ rep.income }}  {{ rep.currency }}</p>
          <p>Total expenses: {{ rep.expenses }}  {{ rep.currency }}</p>
          <p>Balance: {{ rep.income-rep.expenses }} {{rep.currency}}</p>
          <app-balancechart></app-balancechart>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>Expenses</h3>
            <p>Total fix expenses: {{ rep.fix }}  {{ rep.currency }}</p>
            <p>Total variable expenses: {{ rep.variable }}  {{ rep.currency }}</p>
            <app-expensetypechart></app-expensetypechart>
          </div>
          <div class="col-md-6">
            <h3>Categories</h3>
            <ng-container *ngFor="let cat of rep.others">
              <p>{{ cat.name }}: {{ cat.amount }} {{ rep.currency }}</p>
            </ng-container>
            <ng-container *ngIf="rep.catCount < 9">
              <app-catchart></app-catchart>
            </ng-container>
          </div>
        </div>
      </table>
    </ng-container>
  </div>
</div>

