/* unvisited link */
a:link {
  color: #AA84F5;
}

/* visited link */
a:visited {
  color: #AA84F5;
}

/* mouse over link */
a:hover {
  background-color: lightgrey;
  color: #AA84F5;
}

/* selected link */
a:active {
  color: #FF005D;
}
