<div class="col-1 compIcons"><img src="./assets/img/online_help3.png"></div>
<div class="table mx-auto table-xs col-lg-6 col-md-8 col-sm-10" style="font-family: FuturaND;">
  <div style="text-align: center;"><h1><b>BILANZOMAT<br>End User Manual and FAQ</b></h1></div><br>
  <b id="manual">User manual</b>
  <ol>
    <li><a href="help#about">About</a><br></li>
    <li><a href="help#register">Getting started and setting up an account</a><br></li>
    <li><a href="help#login">Logging In</a><br></li>
    <li><a href="help#main">Navigating the main menu</a><br></li>
    <li><a href="help#entries">Managing entries and categories in general</a><br></li>
    <li><a href="help#createcat">Creating a new category</a><br></li>
    <li><a href="help#delcat">Deleting a category</a><br></li>
    <li><a href="help#createentry">Creating a new entry</a><br></li>
    <li><a href="help#search">Finding an existing entry</a><br></li>
    <li><a href="help#deleentry">Deleting an entry</a><br></li>
    <li><a href="help#report">Creating a report</a><br></li>
    <li><a href="help#example">Step by step example</a><br></li>
  </ol>
  <br>
  <b id="faq">Frequently Asked Questions</b>
  <ol>
    <li><a href="help#faqtyp">I made a typo when creating an entry, what do I do now?</a><br></li>
    <li><a href="help#faqdel">Why am I unable to delete certain categories?</a><br></li>
    <li><a href="help#faqpas">I want to change my password</a><br></li>
    <li><a href="help#faqfor">I created many entries and forgot what the one I am looking for said, how can I still find it?</a><br></li>
    <li><a href="help#faqpwr">I forgot my password</a><br></li>
    <li><a href="help#faqrec">What are the categories "fix" and "variable" for?</a><br></li>
  </ol>
  <br>
  <b id="about">WHAT BILANZOMAT CAN HELP YOU DO</b>
  <br><br>
  BILANZOMAT allows you to gather all your expenses and income, create overviews for any given month, check the balance for these, and display the results in fancy graphical form. In short, it is like an account book you cannot lose or inconveniently forget at home.
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="register">FIRST TIME STARTING</b>
  <br>
  To use the BILANZOMAT, you will need an account - all your entries can only be viewed by you, even if other people use the BILANZOMAT on the same computer. To create an account, upon starting click on (or tap, if you are on a touch controlled device) the SIGN UP button.
  <br><br>
  You will then be asked to enter your e-mail address and your password. Please enter these details, click "verify", then enter your name and pick the currency of your choice, and then click on SUBMIT to save them.
  <br><br>
  Afterwards, you will automatically be forwarded to the LOG IN mask.
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="login">LOGGING IN WITH AN EXISTING ACCOUNT</b>
  <br>
  If you already have an account / used the BILANZOMAT before, you can just click on the LOGIN button on the splash page (or the top right).
  <br><br>
  Whether you come to that prompt after having just registered or when returning later - just enter your credentials and click "LOG IN" to access all your entries or create new ones.
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="main">THE MAIN MENU AND MENU NAVIGATION</b>
  <br>
  All navigation is handled via the menu at the top. Sub functions will be displayed after having clicked on one of the basic functions.
  <br><br>
  To log out, simply click the respective button at the top right at any time.
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="entries">MANAGING ENTRIES</b>
  <br>
  Entries created have categories attributed to them. This is both to allow you to find them afterwards and provide a better overview, but also because BILANZOMAT needs to know whether an entry gives you money (income) or costs you money (expense).<br><br>
  Several categories are pre-defined, but you can add your own to have an even better overview tailored specifically to your needs.
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="createcat">CREATING CATEGORIES</b><br>
  To create a new category, click on "Manage categories". Enter the name of the category to create, click "Add category" and find the newly added category at the bottom of the list.<br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="delcat">DELETING CATEGORIES</b><br>
  To delete an existing category, click on "manage categories", then on the red "delete" button next to the category you want to delete.<br><br>
  Please keep in mind that the pre-defined categories <i>income, expense, fix, variable and others</i> are protected and cannot be deleted.
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="createentry">CREATING AN ENTRY</b><br>
  To create a new entry, click on "budget entries", then select "create new entries" from the drop down menu.<br><br>
  Enter the name of the entry, a date for it, the respective amount of money, pick the categories applicable, and finally, add a note.<br><br>
  For example, if the entry is income, please select "income" from the categories list if you want BILANZOMAT to be able to provide you reports.<br><br>
  All the other categories are optional and only serve to allow you to easier find specific entries.
  <br><br>
  After you have entered a new entry, you will automatically be forwarded to the "view entries" screen.
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="search">SEARCHING FOR ENTRIES</b><br>
  To search for an entry, click on "budget entries" and select "view entries" from the drop down menu. You are now viewing all the entries, but these can be filtered, allowing you to easily search for specific entries.<br><br>
  The top line is the general filter - whatever you enter here will be searched for. If an entry contains any mention of the term, it will be displayed. For example, entering "January" will display all entries with a set date of January, but also an entry named "Rent for January", even if it was created for December.<br><br>
  The drop down menu below that search box allows you to additionally filter by categories and only display results where the selected category is applicable.<br><br>
  Both for the search bar and the category filter: Click the X next to it to delete a set filter.
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="deleentry">DELETING AN ENTRY</b><br>
  To delete an existing entry, click on "budget entries", then "view entries" from the drop down menu. Click the "delete" button next to the entry you want to delete and confirm the deletion request.
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="report">CREATING A REPORT</b><br>
  Reports are created for specific months. Thus, to create a report, click on "reports", then pick a month. If a month is not displayed, it has no entries. After picking the month, you are automatically forwarded to the report.<br><br>
  Overview: Show income, expenses and balance - the difference between income and expenses. If the balance is negative, you have had more expenses than income for that month.<br><br>
  Expenses: These are divided into fix and variable.<br><br>
  By categories: This displays a maximum of eight categories. If a month made use of more than eight categories, this graph will not be displayed (doughnut charts with more than eight variables are overtly messy).
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="example">STEP BY STEP EXAMPLE</b><br>
  First, we need to register. We pick "sign up" on the landing page, enter an e-mail address we have access to and a password. We confirm this choice, then enter out name and the currency of our choise - for example, EUR.<br><br>
  Then we enter these credentials we just registered with to actually log in.<br><br>
  We then create the category "food" by clicking on "manage categories" and then entering "food" in the top line, then clicking "add category".<br><br>
  Now we click on "budget entries", then "add entry" and give our new entry the name "Eating pizza at MaHue", a date of 12.01.2020, an amount of 9.95. We add the "note" "Quattro formaggi with onions" and pick the categories "expense", "variable" and "food". We then confirm the input.<br><br>
  Next, we are automatically forwarded to the "view entry" section - as this is our only entry, we only see it.<br><br>
  Now, we also want to have some income. Click on "budget entries", "add entry", and enter an entry named "Paternal sponsorship" for the date of 01.01.2020, amount 10.00, categories "income", "fixed" and "other". As "note", enter "Danke Mutti".<br><br>
  Click on "reports", pick the month of January 2020, et voila, behold the graphical representation of the entries.
  <br><br>
  <a href="help#manual">Back to chapter selection</a>
  <br><br><br>
  <b id="faqtyp">FAQ: Can I change existing entries?</b>
  <br>
  At the moment, editing entries is not possible. You can just delete the faulty entry and create the correct one in its stead.
  <br><br>
  <a href="help#faq">Back to the FAQ menu</a>
  <br><br><br>
  <b id="faqdel">FAQ: Why am I unable to delete a category?</b>
  <br>
  The categories <i>income, expense, fix, variable and others</i> are protected and cannot be deleted. This is done on purpose, as some of these are used to ensure the functionality of the app (it needs to know if something adds or substracts money!) as well as guarantee the ability to navigate the entries.
  <br><br>
  <a href="help#faq">Back to the FAQ menu</a>
  <br><br><br>
  <b id="faqpas">FAQ: Can I change my password?</b>
  <br>
  As of now, no.
  <br><br>
  <a href="help#faq">Back to the FAQ menu</a>
  <br><br><br>
  <b id="faqfor">FAQ: I forgot what an entry said and am looking for it, what do I do now?</b>
  <br>
  You can just browse all entries, and filter these not only by notes but also my month and name.
  <br><br>
  <a href="help#faq">Back to the FAQ menu</a>
  <br><br><br>
  <b id="faqpwr">FAQ: I forgot my password!</b>
  <br>
  At the moment, resetting passwords is not possible, sorry.
  <br><br>
  <a href="help#faq">Back to the FAQ menu</a>
  <br><br><br>
  <b id="faqrec">FAQ: What do the categories "fix" and "variable" mean?</b>
  <br>
  They are meant to indicate whether an entry refers to something recurring - "fix"; for example, rent - or a one-time thing - "variable"; for example, buying ice cream in the city.<br><br>
  Since even income and stuff like heating costs vary on a month to month basis, these attributes do NOT mean that the respective item will be added automatically every month. The attribution is just to allow you to have a better overview of the nature of your expenses and income.
  <br><br>
  <a href="help#faq">Back to the FAQ menu</a>
</div>
