@font-face {
  font-family: FuturaND;
  src: url('./assets/font/Futura_ND_Alt_W03_Light.ttf');
}

.jumbotron {
  background: url('./assets/img/splash_sanfter3.png')  no-repeat center center;
  color: black;
  background-size: cover;
  text-align: center;
  min-height: 500px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_container{
  height: 80px;
}

.btn{
  margin: 20px;
}

.compIcons {
  max-height: 10px;
}

.compIcons img {
  max-height: 60px;
}

